@media (min-width: 391px) and (max-width: 500px) {
    .menu input[type='checkbox'],
    .menu label {
        display: none;
    }
}
@media (max-width: 500px) {
    .container {
        position: relative;
        width: 98%;
        height: 6850px;
        background: #0e0e0e;
    }
    .container .red-cicle {
        position: absolute;
        top: 131px;
        right: 0px;
    }
    .menu nav {
        display: none;
    }
    /* ---- */
    .container .menu nav {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100vh;
        left: -280px;
        top: 0;
        right: 0;
        background: #0e0e0e;
        z-index: 5;
        margin-top: -100vh;
        transition: 0.5s;
    }
    .container .menu nav > ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
    }
    .container .menu nav > ul li {
        height: 30px;
        padding: 0;
    }
    .container .menu nav > ul li:hover {
        width: 100%;
        background: red;
        transition: 2s;
    }
    .menu .contact-us {
        display: none;
    }
    .menu input[type='checkbox'] {
        display: none;
    }
    .menu label {
        display: block;
        position: fixed;
        right: 20px;
        top: 35px;
        color: #fff;
        font-size: 30px;
        z-index: 10;
        cursor: pointer;
    }
    /* Якщо checkbox true то тоді меню показує! */
    /* label name повинно співпадати з input id*/
    .menu input[type='checkbox']:checked ~ nav {
        /* display: block; */
        margin-top: 0;
        transition: 0.5s;
    }
    /* --- */
    .header-top {
        height: 113px;
    }
    .header-top .menu {
        left: 25px;
        right: 25px;
        height: 33px;
        top: 40px;
        bottom: 40px;
    }
    .menu .logo img {
        width: 32px;
        height: 30px;
    }
    .menu .logo div > span {
        line-height: 4px;
    }
    .menu .logo > div span:first-of-type {
        font-size: 14px;
        font-weight: 700;
    }
    .menu .logo > div span:last-of-type {
        font-size: 12px;
    }
    /* ---Header--- */

    header .text-content-header {
        width: 85%;
        /* width: 355px; */
        /* height: 527px; */
    }
    /* Points color */
    header .blue-cicle {
        position: absolute;
        top: 354px;
        left: 1px;
        right: 340px;
    }
    header .blue-cicle2 {
        display: none;
    }
    .text-content-header p:first-of-type {
        font-size: 26px;
        letter-spacing: 0.28px;
        padding-left: 5.9px;
        padding-right: 6px;
    }
    .text-content-header p:last-of-type {
        padding-left: 7px;
        padding-right: 7px;
        color: #e2e2e2;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.14px;
    }
    /* header bloks */
    header .bottom-header {
        width: 354px;
        height: 251px;
    }
    .bottom-header .header-img {
        width: 330px;
        height: 224px;
    }
    .bottom-header .top-block {
        position: absolute;
        width: 99px;
        height: 53px;
        left: 0.3px;
        top: 3px;
    }
    .top-block div img {
        width: 16px;
        height: 16px;
    }
    .bottom-header .top-block div span {
        font-size: 6px;
        position: relative;
        left: 15px;
    }
    .bottom-header .top-block p span {
        position: relative;
        font-size: 12px;
        top: 12px;
    }
    .bottom-header .grid-red {
        position: absolute;
        top: 4px;
        right: 0;
    }
    .bottom-header .grid-white {
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    /* .bottom-header .bottom-block {
        position: absolute;
        right: -11px;
        bottom: -21px;
    } */
    .bottom-header .bottom-block {
        position: absolute;
        width: 80px;
        height: 80px;
        right: -11px;
        bottom: -21px;
        top: 165px;
        transform: scale(1);
        transform-origin: top left;
    }
    .bottom-header .bottom-block img {
        width: 15px;
        height: 15px;
    }
    .bottom-header .bottom-block div > span {
        font-size: 5px;
    }
    .bottom-header .bottom-block p {
        padding: 3px 3px 3px 8px;
        font-size: 5px;
    }
    .bottom-header .bottom-block .content {
        margin-left: 5px;
        margin-top: 8px;
    }
    .bottom-header .bottom-block .content div {
        margin-left: 10px;
    }
}
