@media (min-width: 391px) and (max-width: 500px) {
    .menu input[type='checkbox'],
    .menu label {
        display: none;
    }
}
@media (max-width: 500px) {
    .container {
        position: relative;
        width: 98%;
        height: 6850px;
        background: #0e0e0e;
        overflow: hidden;
    }
    .container .red-cicle {
        position: absolute;
        top: 131px;
        right: 0px;
    }
    .menu nav {
        display: none;
    }
    /* ---- */
    .container .menu nav {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100vh;
        left: -280px;
        top: 0;
        right: 0;
        background: #0e0e0e;
        z-index: 5;
        margin-top: -100vh;
        transition: 0.5s;
    }
    .container .menu nav > ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
    }
    .container .menu nav > ul li {
        height: 30px;
        padding: 0;
    }
    .container .menu nav > ul li:hover {
        width: 100%;
        background: red;
        transition: 2s;
    }
    .menu .contact-us {
        display: none;
    }
    .menu input[type='checkbox'] {
        display: none;
    }
    .menu label {
        display: block;
        position: fixed;
        right: 20px;
        top: 35px;
        color: #fff;
        font-size: 30px;
        z-index: 10;
        cursor: pointer;
    }
    /* Якщо checkbox true то тоді меню показує! */
    /* label name повинно співпадати з input id*/
    .menu input[type='checkbox']:checked ~ nav {
        /* display: block; */
        margin-top: 0;
        transition: 0.5s;
    }
    /* --- */
    .header-top {
        height: 113px;
    }
    .header-top .menu {
        left: 25px;
        right: 25px;
        height: 33px;
        top: 40px;
        bottom: 40px;
    }
    .menu .logo img {
        width: 32px;
        height: 30px;
    }
    .menu .logo div > span {
        line-height: 4px;
    }
    .menu .logo > div span:first-of-type {
        font-size: 14px;
        font-weight: 700;
    }
    .menu .logo > div span:last-of-type {
        font-size: 12px;
    }
    /* ---Header--- */

    header .text-content-header {
        width: 85%;
        height: max-content;
    }
    header {
        height: 527px;
    }
    /* Points color */
    header .blue-cicle {
        position: absolute;
        left: 1px;
        right: 340px;
    }
    header .blue-cicle2 {
        display: none;
    }
    .text-content-header p:first-of-type {
        font-size: 26px;
        letter-spacing: 0.28px;
        padding-left: 5.9px;
        padding-right: 6px;
    }
    .text-content-header p:last-of-type {
        padding-left: 7px;
        padding-right: 7px;
        color: #e2e2e2;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.14px;
    }
    /* header bloks */
    header .bottom-header {
        width: 354px;
        height: 251px;
        margin-top: 50px;
    }
    .bottom-header .header-img {
        width: 330px;
        height: 224px;
    }
    .bottom-header .top-block {
        position: absolute;
        width: 99px;
        height: 53px;
        left: 0.3px;
        top: 3px;
    }
    .top-block div img {
        width: 16px;
        height: 16px;
    }
    .bottom-header .top-block div span {
        font-size: 6px;
        position: relative;
        left: 15px;
    }
    .bottom-header .top-block p span {
        position: relative;
        font-size: 12px;
        top: 12px;
    }
    .bottom-header .grid-red {
        position: absolute;
        top: 4px;
        right: 0;
    }
    .bottom-header .grid-white {
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    .bottom-header .bottom-block {
        position: absolute;
        width: 80px;
        height: 80px;
        right: -11px;
        bottom: -21px;
        top: 165px;
        transform: scale(1);
        transform-origin: top left;
    }
    .bottom-header .bottom-block img {
        width: 15px;
        height: 15px;
    }
    .bottom-header .bottom-block div > span {
        font-size: 5px;
    }
    .bottom-header .bottom-block p {
        padding: 3px 3px 3px 3px;
        font-size: 5px;
    }
    .bottom-header .bottom-block .content {
        margin-left: 5px;
        margin-top: 8px;
    }
    .bottom-header .bottom-block .content div {
        margin-left: 10px;
    }

    /* section block about */
    section {
        margin: 0 auto;
        width: 85%;
        /* width: 340px; */
    }
    section .block-about-us h3 {
        font-size: 20px;
    }
    section .block-about-us h2 {
        font-size: 28px;
    }
    .block-about-us .content {
        display: flex;
        flex-direction: column-reverse;
    }
    section .content .block-img {
        margin: 0 auto;
        margin-top: 45px;
    }
    .block-about-us .block-img .team {
        width: 100%;
        /* width: 340px; */
        /* height: 258px; */
    }
    .block-about-us .block-img .orange-cicle {
        display: none;
    }
    .block-about-us .block-img .purple-cicle {
        position: absolute;
        top: -12px;
        left: 0;
    }
    .block-about-us .block-text-team {
        font-size: 14px;
        font-weight: 400;
        margin-left: 0px;
        line-height: 24px;
    }
    .block-about-us .block-text-team p:nth-child(2) {
        display: none;
    }
    .block-about-us .block-text-team .mobile {
        display: block;
        padding-right: 0px;
        margin-top: 20px;
    }
    .block-text-team p:first-of-type {
        padding-right: 0px;
        margin: 0;
    }
    .block-btn {
        width: 100%;
    }
    .block-text-team .block-btn .btn-us {
        width: 124px;
        font-size: 14px;
        /* margin-left: 20px; */
    }
    .block-text-team .block-btn .btn-our {
        width: 150px;
        font-size: 14px;
        margin-left: 40px;
    }
    /* section block services */
    .services {
        width: 85%;
        /* width: 340px; */
        display: block;
        margin: 0 auto;
        margin-top: 200px;  
    }
    .services .left {
        width: 85%;
        /* width: 340px; */
        margin: 0 auto;
        height: 250px;

    }
    .services .left h3{
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 17.5px;
        font-weight: 600;
     }
    .services .left p:first-of-type{
       font-size: 24px;
       line-height: 32.74px;
       text-align: center;
       font-family: 'Nunito';
    }
    .services .left .text{
       font-size: 14px;
       font-weight: 400;
       line-height: 24px;
       text-align: center;

     }
    .services .left p:last-of-type{
       display: flex;
       justify-content: flex-start;
    }
    .services .left p:last-of-type a{
       font-size: 14px;
       font-weight: 700;
       line-height: 17.5px;
       font-family: Quicksand;
     }
    /* right--block */
    .services .right {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .services .right .blocks-social {
        margin: 30px;
    }
    /* Portfolio */
    .portfolio {
        margin-top: 800px;
        width: 85%;
    }
    .portfolio .portfolio-block{
        margin: 0 auto;
    }
    .portfolio .portfolio-block h3{
        font-size: 14px;
        font-weight: 600;
        line-height: 17.5px;
        font-family: Quicksand;
        letter-spacing: 1%;
    }
    .portfolio .portfolio-block p:first-of-type{
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
        font-family: Quicksand;
        width: 100%;
    }
    .portfolio .portfolio-block #text-mobile{
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        font-family: Quicksand;
        width: 100%;
    }
    .portfolio .portfolio-block .bottom-block{
        width: 340px;
        margin: 20px;
        margin: 0 auto;
        flex-direction: column-reverse;
     
    }
    .portfolio .portfolio-block .bottom-block div{
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }
    .portfolio .portfolio-block .bottom-block div img{
        width: 300px;
        height: 300px;
     }
     .portfolio .portfolio-block .bottom-block div img:hover{
        box-shadow: 5px 5px 15px rgba(226, 226, 226, 0.543);
     }
     .portfolio .portfolio-block .bottom-block div:nth-child(2) img{
        width: 340px;
        height: 341px;
     }
     .portfolio-block .bottom-block div > p:last-of-type{
        position: absolute;
        color: rgba(226, 226, 226, 1);
        bottom: 30px;
        font-size: 18px;
        font-family: Quicksand;
        font-weight: 700;
        left: 40px;
    }
    /*  testimonial */
    .testimonial {
        width: 85%;
        height: 500px;
    }
    .testimonial > .group-blue-one,.group-blue-two{
        display: none;
    }
    .testimonial .block-bottom{
        /* width: 100%; */
        width: 340px;
        display: block;
        margin: 0;
    }
    .testimonial .block-bottom .block-item {
        height: 257px;
    }
    .general-block h3 {
        font-size: 14px;
    }
    .general-block .text {
        font-size: 24px;
    }
    .testimonial .block-item:nth-of-type(n+2) {
        display: none;
    }
    .block-item .other {
        /* width: 340px; */
        display: none;
    }
    .testimonial .block-bottom .block-item {
        width: 340px;
    }
    .testimonial .block-bottom .block-item .user-vacancy{
        padding-top: 40px;
    }
    .block-item .other-mobile {
        display: block;
        width: 280px;
        margin-left: 40px;
        margin-top: 40px;
        font-size: 14px;
        font-weight:  400;
        line-height: 24px;
        letter-spacing: 1%;
    }
    /* bottom block  */
    .before-block-footer {
        margin: 0 auto;
        width: 85%;
        height: auto;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .block-right div .img-one {
        width: 221px;
        height: 196px;
    }
  
    .block-right div .img-two {
        width: 180px;
        height: 177px;
    }
    .block-right div > .white, .orange  {
        display: none;
    }
    .before-block-footer .block-left{
        margin-top: 100px;
        width: 340px;
    }
    .before-block-footer .block-left p{
        margin-top: 20px;
        text-align: center;
        width: 340px;
        font-size: 28px;
        line-height: 36px;
    }
    .before-block-footer .block-left span{
       display: flex;
       justify-content: center;
       margin-top: 20px;
       font-size: 14px;
       line-height: 34px;
    }
    .before-block-footer .block-left button{
        margin: 20px auto;
        padding: 10px 35px 10px 35px;
     }
    .before-block-footer .block-right  {
       width: 340px;
       left: 0;
    }
    .before-block-footer .block-right div .img-one {
        position: relative;
        left: 0;
    }
    .before-block-footer .block-right div .img-two {
        right: 0;
    }
/* footer */
    footer {
        width: 100%;
    }
    footer .block-footer {
        padding-top: 0;
        width: 85%;
    }
    footer .block-footer .contacts{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    footer .block-footer .contacts ul{
        padding-top: 50px;
    }
    footer .block-socials .socials{
       display: flex;
       justify-content: space-between;
       width: 280px;
    }
    footer .block-socials  .line{
        width: 100%;
     }
}
