@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:wght@400;800&family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    font-family: Quicksand, Nunito;
}
.container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background: #0e0e0e;
}
.container .red-cicle {
    position: absolute;
    top: 90px;
    right: 0;
}
.header-top {
    position: relative;
    width: 100%;
    height: 194px;
    background: #0e0e0e;
}
.header-top .menu {
    position: absolute;
    display: flex;
    background: #0e0e0e;
    left: 100px;
    right: 100px;
    height: 50px;
    top: 72px;
    bottom: 72px;
}
.menu {
    display: flex;
}
/* Logo */
.menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .logo > div span {
    display: block;
    color: #e2e2e2;
    padding: 0 0 4px 4px;
}
.menu .logo > div span:first-of-type {
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 24px;
}
.menu .logo > div span:last-of-type {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
/* Nav */
.menu nav {
    width: 100%;
    max-width: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}
.menu nav > ul {
    display: flex;
}
.menu nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 50px;
    padding-left: 0;
}
.menu nav ul li:last-of-type {
    padding-right: 0;
}
.menu nav > ul li a {
    color: #e2e2e2;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.menu nav > ul li a:hover {
    font-weight: 700;
    color: #fff;
}
.menu input {
    display: none;
}
.menu .contact-us {
    display: flex;
    justify-content: center;
    width: 185px;
    margin-left: 267px;
    border: 1px solid #e2e2e2;
    border-radius: 24px;
    cursor: pointer;
}
.menu .contact-us p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 700;
}
/* Header --------------*/
header {
    position: relative;
    height: 1001px;
}
header .blue-cicle {
    position: absolute;
    top: 243px;
    left: 94px;
    right: -15px;
}
header .blue-cicle2 {
    position: absolute;
    top: 417px;
    right: 194px;
}
header .text-content-header {
    text-align: center;
    margin: 0 auto;
    width: 890px;
    height: 394px;
    display: block;
    justify-content: center;
}
header .text-content-header p {
    text-align: center;
    color: #e2e2e2;
    font-size: 64px;
    padding-left: 70.5px;
    padding-right: 70.5px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 0.64px;
    word-wrap: break-word;
}
.text-content-header p:last-of-type {
    margin-top: 24px;
    padding-left: 59px;
    padding-right: 64px;
    color: #e2e2e2;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
}
.text-content-header .start {
    width: 201px;
    height: 48px;
    color: #0e0e0e;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 700;
    margin: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #e2e2e2;
    box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
}
/* ---bottom-header-- */
header .bottom-header {
    position: relative;
    width: 985px;
    height: 616px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-header img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-header .bottom-block {
    position: absolute;
    width: 166px;
    height: 166px;
    background: #0d0d0d;
    border-radius: 16px;
}
.bottom-header .bottom-block .content {
    display: flex;
    align-items: center;
    margin-left: 21px;
    margin-top: 21px;
}
.bottom-header .bottom-block {
    position: absolute;
    top: 401px;
    right: 15.25px;
}
.bottom-header .bottom-block .content div > span {
    display: block;
    padding-left: 10px;
}
.bottom-header .bottom-block .content span:first-of-type {
    color: #e2e2e2;
    font-size: 10px;
    font-family: Quicksand;
    font-weight: 600;
    letter-spacing: 0.1px;
    word-wrap: break-word;
}
.bottom-header .bottom-block .content span:last-of-type {
    color: #e2e2e2;
    font-size: 6px;
    font-family: Quicksand;
    font-weight: 600;
    letter-spacing: 0.06px;
    word-wrap: break-word;
}
.bottom-header .bottom-block p {
    color: #e2e2e2;
    font-size: 10px;
    font-family: Nunito;
    font-weight: 400;
    letter-spacing: 0.1px;
    word-wrap: break-word;
    padding: 18px 20px 25px 21px;
}
.bottom-header .grid-red {
    position: absolute;
    top: 39.3px;
    left: 262px;
}
.bottom-header .grid-white {
    position: absolute;
    left: 298.27px;
    bottom: 37.49px;
}
.bottom-header .top-block {
    position: absolute;
    width: 175px;
    height: 95px;
    left: 17px;
    top: 83px;
    background: #0d0d0d;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    z-index: 1;
}
.bottom-header .top-block div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
}
.bottom-header .top-block div span {
    color: #e2e2e2;
    font-size: 12px;
    font-family: Quicksand;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    word-wrap: break-word;
}
.top-block p {
    position: absolute;
    left: 20px;
    right: 31px;
    bottom: 16px;
    display: flex;
    color: #e2e2e2;
}
.top-block p span:first-of-type {
    color: #e2e2e2;
    font-size: 24px;
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: 0.24px;
    word-wrap: break-word;
}
.top-block p span:last-of-type {
    color: #e2e2e2;
    font-size: 24px;
    padding-left: 5px;
    font-family: Nunito;
    font-weight: 600;
    letter-spacing: 0.24px;
    word-wrap: break-word;
}
/* section block about */
section .block-about-us {
    flex-basis: 100%;
    height: 568px;
    margin-top: 150px;
}
section .block-about-us h3 {
    display: flex;
    justify-content: center;
    color: #e2e2e2;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    word-wrap: break-word;
}
section .block-about-us h2 {
    display: flex;
    justify-content: center;
    color: #e2e2e2;
    font-size: 55px;
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: 0.17px;
    word-wrap: break-word;
}
section .content {
    display: flex;
}
.content .block-img {
    position: relative;
}
.content .block-img .team {
    position: relative;
    z-index: 1;
}
.content .block-img .orange-cicle {
    position: absolute;
    left: -30px;
    top: -18px;
}
.content .block-img .purple-cicle {
    position: absolute;
    left: 503px;
    bottom: -4px;
}
.content .block-img {
    margin: 38px;
    margin-left: 100px;
}
/* -=---- */
.content .block-text-team {
    color: #e2e2e2;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    margin-left: 65px;
}
.content .block-text-team p:first-of-type {
    margin-top: 50px;
}
.content .block-text-team p {
    width: 100%;
    margin-top: 40px;
    padding-right: 50px;
}
.content .block-text-team .btn-us {
    text-align: center;
    width: 171px;
    height: 48px;
    top: 486px;
    left: 730px;
    background: #e2e2e2;
    border-radius: 26px;
    box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
    cursor: pointer;
    color: #0d0d0d;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 20px;
}
.content .block-text-team .btn-our {
    text-align: center;
    width: 200px;
    height: 48px;
    top: 486px;
    left: 730px;
    background: #0d0d0d;
    border: 1px solid #e2e2e2;
    border-radius: 26px;
    cursor: pointer;
    color: #e2e2e2;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 30px;
}
.content .block-text-team .btn-our div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .block-text-team .btn-our div span:last-of-type {
    padding-left: 5px;
}
.block-text-team .block-btn {
    display: flex;
}
.block-text-team .mobile {
    display: none;
}
/* --------Next block-------- */

.services {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
/* right */
.services .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 565px;
    height: 579px;
    margin-right: 100px;
    color: #e2e2e2;
}
.services .right .blocks-social:first-of-type {
    background: rgba(11, 15, 21, 1);
}
.services .right .blocks-social {
    position: relative;
    width: 262px;
    height: 269px;
    background: #0d0d0d;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
}
.services .right .blocks-social .content {
    display: block;
    margin: 0 auto;
    margin: 35px;
    top: 35px;
    height: 200px;
}
.services .right .blocks-social .content div {
    margin: 0 auto;
    border-radius: 100%;
    background: #fff;
    width: 100px;
    height: 100px;
}
.services .right .blocks-social .content .white {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .right .blocks-social .content img {
    width: 42px;
    height: 42px;
}
.services .right .blocks-social .content .red {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 70, 70, 1);
}
.services .right .blocks-social .content .green {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(142, 234, 119, 1);
}
.services .right .blocks-social .content .orange {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 178, 26, 1);
}
.services .right .blocks-social .content p {
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    width: 90%;
    font-family: Quicksand;
}
/* ---left-- */
.services .left {
    margin-left: 100px;
    width: 521px;
    height: 414px;
    color: #e2e2e2;
}
.services .left h3 {
    display: flex;
    justify-content: flex-start;
}
.services .left p:first-of-type {
    font-size: 55px;
    font-family: Quicksand;
    margin-top: 20px;
}
.services .left .text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    font-family: Quicksand;
}
.services .left p > a {
    display: flex;
    justify-content: flex-end;
    color: #e2e2e2;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
    font-family: Quicksand;
}
